

<div class="span8 right" id="content" data-motopress-type="loop" data-motopress-loop-file="loop/loop-blog.php">
						<!-- displays the tag's description from the Wordpress admin -->
<div class="post_wrapper"><article id="post-3332" class="post__holder post-3332 post type-post status-publish format-standard hentry category-delhi-aawas-yojna tag-delhi-awas-yojna tag-football-stadium-in-dwarka cat-43-id">
				<header class="post-header">
						<h2 class="post-title"><a href="http://www.delhiaawasyojna.com/blogs/delhi-get-international-standard-football-stadium-dwarka-want-know/" title="Delhi to get international standard football stadium in Dwarka; all you want to know">Delhi to get international standard football stadium in Dwarka; all you want to know</a></h2>
		</header>

				<!-- Post Content -->
		<div class="post_content">
								<div class="excerpt">
					Football fans can rejoice as the Delhi Development Authority (DDA) is all set to make a football stadium in Dwarka. With an intake of about 18,000 people, the stadium is set to be spread across 62 acres of land, Jagran reported. Set to match international standards, the football field is going to be 105 meters…				</div>
						<a href="http://www.delhiaawasyojna.com/blogs/delhi-get-international-standard-football-stadium-dwarka-want-know/" class="btn btn-primary">Read more</a>
			<div class="clear"></div>
		</div>


		<!-- Post Meta -->
<!--// Post Meta -->
</article></div><div class="post_wrapper"><article id="post-3299" class="post__holder post-3299 post type-post status-publish format-standard hentry category-blogs tag-dda-l-zone-projects tag-land-pooling-policy cat-40-id">
				<header class="post-header">
						<h2 class="post-title"><a href="http://www.delhiaawasyojna.com/blogs/95-villages-approved-as-development-areas/" title="95 villages approved as development areas">95 villages approved as development areas</a></h2>
		</header>

				<!-- Post Content -->
		<div class="post_content">
								<div class="excerpt">
					Lieutenant-Governor Anil Baijal on Friday approved a notification of the Delhi Development Authority (DDA) to declare 95 villages as “development areas” under the Land Pooling Policy (LPP). The move is aimed at boosting housing projects on rural land, the Raj Niwas said in a statement. After approving the notification, the L-G tweeted, “Approved notification of…				</div>
						<a href="http://www.delhiaawasyojna.com/blogs/95-villages-approved-as-development-areas/" class="btn btn-primary">Read more</a>
			<div class="clear"></div>
		</div>


		<!-- Post Meta -->
<!--// Post Meta -->
</article></div><div class="post_wrapper"><article id="post-3253" class="post__holder post-3253 post type-post status-publish format-standard hentry category-blogs tag-delhi-awas-yojna cat-40-id">
				<header class="post-header">
						<h2 class="post-title"><a href="http://www.delhiaawasyojna.com/blogs/whats-new-budget-2017-real-estate-sector/" title="What’s new in Budget 2017 for Real Estate Sector?">What’s new in Budget 2017 for Real Estate Sector?</a></h2>
		</header>

				<!-- Post Content -->
		<div class="post_content">
								<div class="excerpt">
					NEW DELHI: Finance Minister Arun Jaitley in his Budget 2017-18 speech has announced one of the much needed changes for the Indian real estate sector. The affordable housing will be given infrastructure status which is likely to result in increased participation from private players. “The announcement of affordable housing being given Infrastructure status is a…				</div>
						<a href="http://www.delhiaawasyojna.com/blogs/whats-new-budget-2017-real-estate-sector/" class="btn btn-primary">Read more</a>
			<div class="clear"></div>
		</div>


		<!-- Post Meta -->
<!--// Post Meta -->
</article></div><div class="post_wrapper"><article id="post-3185" class="post__holder post-3185 post type-post status-publish format-standard hentry category-blogs cat-40-id">
				<header class="post-header">
						<h2 class="post-title"><a href="http://www.delhiaawasyojna.com/blogs/kejriwal-notify-land-pooling-policy-post-mcd-elections/" title="Kejriwal to Notify Land Pooling Policy post MCD Elections">Kejriwal to Notify Land Pooling Policy post MCD Elections</a></h2>
		</header>

				<!-- Post Content -->
		<div class="post_content">
								<div class="excerpt">
					Delhi Chief Minister Arvind Kejriwal has assured that his government will notify land pooling policy, once the Municipal Corporation of Delhi (MCD) elections is over. "We are raising this issue with Delhi Government from last one and half year and met several time with Delhi Chief Minister Arvind Kejriwal. Now Delhi Chief Minister has assured…				</div>
						<a href="http://www.delhiaawasyojna.com/blogs/kejriwal-notify-land-pooling-policy-post-mcd-elections/" class="btn btn-primary">Read more</a>
			<div class="clear"></div>
		</div>


		<!-- Post Meta -->
<!--// Post Meta -->
</article></div>						<div class="pagination pagination__posts"><ul><li class="active"><span>1</span></li><li><a href="http://www.delhiaawasyojna.com/blogs/page/2/" class="inactive">2</a></li></ul></div>
<!-- Posts navigation -->					</div>
