
<div id="content" class="row">
					<div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
							<div id="post-14" class="page post-14 type-page status-publish hentry">
		<p align="justify">For the finest and the latest housing schemes in Rajkot, Rajkot Awas Yojna can definitely be the best for you for a great and safe living. To know more about the specifications, payments plans, floor plans etc. you can choose to drop a mail to us at our mail id info@Rajkotaawasyojna.com and we will make sure to address your query very soon. You can also give us a call on <a href="tel:+919015154154">+91-9015-154-154</a> and we will always assist you with the right details on any aspect you need.</p>
<p align="justify">You can visit our office at and we will address your queries with the required details you need. If you want to send us a message, you can send the same to contact form given herein. Make sure you write the right details in it and our representative will get back to you on your query.</p>
<div class="row ">
<div class="span12 "><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.5761132212465!2d76.98420131427004!3d28.612490691740263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0fdd4ce9194d%3A0xcd436004ecb0b5d7!2sNajafgarh%2C+Dharampura%2C+Najafgarh%2C+New+Rajkot%2C+Rajkot+110043!5e0!3m2!1sen!2sin!4v1469193494991" width="1200" height="600" frameborder="0" allowfullscreen="allowfullscreen"></iframe><br></div>
<div class="span6 "><h2>Contact Us</h2>
<p><iframe style="width: 100%; border: none;" src="//www.formget.com/app/embed/form/fnQC-245986/i?w=328" width="300" height="482" frameborder="0" scrolling="no">Your Contact </iframe></p></div>
<div class="span6 "><br><br><br><br><br><br><br><br><br><br><p></p>
<p style="font-size: 200%;" align="justify">Office Address:</p>
<p style="font-size: 150%;" align="justify">T-303 Centric plaza, Plot-8,</p>
<p style="font-size: 150%;" align="justify">Pocket-4, Sector-11,</p>
<p style="font-size: 150%;" align="justify">Dwarka, New Rajkot-110075</p>
<p style="font-size: 150%;" align="justify">Mob. No.-<a href="tel:+919015154154">+91-9015-154-154</a></p></div>
</div><!-- .row (end) -->
		<div class="clear"></div>
		<!--.pagination-->
	</div><!--post-->
					</div>
				</div>
