

<div id="content" class="row">
					<div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
							<div id="post-2292" class="page post-2292 type-page status-publish hentry">
		<p style="text-align: justify;">Download various documents related to Delhi's first truly affordable housing scheme Smart City <a href="http://www.delhiaawasyojna.com/"><strong>Delhi Awas Yojna 2017</strong></a>&nbsp;by Delhi's Multistate Cooperative Group Housing Society.</p>
<p style="text-align: justify;"><strong>Important Information:</strong></p>
<p style="text-align: justify;">Now Living in Delhi has become easy in just Rs. 16.80 Lakhs*.</p>
<p style="text-align: justify;">REGISTRATIONS ARE OPEN UNDER THIS SCHEME: ONLY 360 APARTMENTS AVAILABLE</p>
<p style="text-align: justify;">ALLOTMENT BY DRAW ONLY.</p>
<p style="text-align: justify;">Form Available @ Rs. 200 Only, <strong>Click below&nbsp;</strong>for download application form.</p>
<p style="text-align: justify;">&nbsp;<a href="http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/edited_Application-Form-4.pdf"><img class="alignright wp-image-2537 size-full" src="http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/Awas-Yojna-Application-form.gif" alt="awas yojna application form" width="400" height="206"></a></p>
		<div class="clear"></div>
		<!--.pagination-->
	</div><!--post-->
					</div>
				</div>
