

  <div class="carousel">
    <a class="carousel-item responsive-img" href="#one!"><img src="http://www.rmc.gov.in/rmcwebsite/images/Slider/12.jpg"></a>
    <a class="carousel-item responsive-img" href="#two!"><img src="http://www.rmc.gov.in/rmcwebsite/images/Slider/sw2.jpg"></a>
    <a class="carousel-item responsive-img" href="#three!"><img src="http://www.rmc.gov.in/rmcwebsite/images/Slider/2.jpg"></a>
    <a class="carousel-item responsive-img" href="#four!"><img src="http://www.rmc.gov.in/rmcwebsite/images/Slider/3.jpg"></a>
    <a class="carousel-item responsive-img" href="#five!"><img src="http://www.rmc.gov.in/rmcwebsite/images/Slider/5.jpg"></a>
    <a class="carousel-item responsive-img" href="#five!"><img src="http://www.rmc.gov.in/rmcwebsite/images/Slider/sw1.jpg"></a>


  </div>

<br>

  <div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
  							<div id="post-203" class="page post-203 type-page status-publish hentry">
  		<div class="row "><div class="span12 "></div>
  <div align="justify">
  <p><strong><span style="color: red; font-size: large;">IMPORTANT NOTE-</span><span style="color: black; font-size: medium;"> REGISTRATION AMOUNT IS REFUNDABLE FOR APPLICANTS WHO ARE NOT SUCCESSFUL IN THE DRAW.</span></strong></p>
  <p>To propel the mission and vision of Master Plan Rajkot 2021 (MPD-2021), Revanta&nbsp;Multi State Co-operative Group Housing Society, proudly presents the new heights of luxury but affordable housing Rajkot scheme, Smart City Rajkot Awas Yojna 2017 aspires to make the living of people easier in the capital. You&nbsp;can now live in Rajkot in just Rs. 16.80 Lakh. Registrations are now open and anyone from public, private or government sector can apply. 360 units will be available under Rajkot Awas Yojna and allotment will be based on draws. The membership is available in three types:</p>
  <div align="justify">
  <ul>
  <li>LIG, person can purchase a house with a total land of 38.5 Square Meter at the booking amount of Rs 11,000.</li>
  <li>MIG, person can purchase a house with a total land of 66.5 Square Yards at the booking amount of Rs 31,000.</li>
  <li>HIG, person can purchase a house with a total land of 94.2 Square Meter at the booking amount of Rs 41,000.</li>
  <li>Super HIG, person can purchase a house with a total land of 122.1 Square Meter at the booking amount of Rs 51,000</li>
  </ul>
  </div>

  		<!--.pagination-->
  	</div><!--post-->
  					</div>





<style media="screen">
.carousel .carousel-item {
width:800px !important;
height: 500px !important;}
</style>










<script type="text/javascript">
$(document).ready(function(){
      $('.slider').slider();
    });
    $(document).ready(function(){
         $('.carousel').carousel();
       });
</script>
