<br>
<br>
<div class="slider">
    <ul class="slides">
      <li>
        <img src="http://www.rmc.gov.in/rmcwebsite/images/Slider/12.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://www.rmc.gov.in/rmcwebsite/images/Slider/sw2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://www.rmc.gov.in/rmcwebsite/images/Slider/2.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://www.rmc.gov.in/rmcwebsite/images/Slider/3.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://www.rmc.gov.in/rmcwebsite/images/Slider/5.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://www.rmc.gov.in/rmcwebsite/images/Slider/sw1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>

    </ul>
  </div>

  <div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
  							<div id="post-203" class="page post-203 type-page status-publish hentry">
  		<div class="row "><div class="span12 "></div>
  <div align="justify">
  <p><strong><span style="color: red; font-size: large;">IMPORTANT NOTE-</span><span style="color: black; font-size: medium;"> REGISTRATION AMOUNT IS REFUNDABLE FOR APPLICANTS WHO ARE NOT SUCCESSFUL IN THE DRAW.</span></strong></p>
  <p>To propel the mission and vision of Master Plan Delhi 2021 (MPD-2021), Revanta&nbsp;Multi State Co-operative Group Housing Society, proudly presents the new heights of luxury but affordable housing Delhi scheme, Smart City Delhi Awas Yojna 2017 aspires to make the living of people easier in the capital. You&nbsp;can now live in Delhi in just Rs. 16.80 Lakh. Registrations are now open and anyone from public, private or government sector can apply. 360 units will be available under Delhi Awas Yojna and allotment will be based on draws. The membership is available in three types:</p>
  <div align="justify">
  <ul>
  <li>LIG, person can purchase a house with a total land of 38.5 Square Meter at the booking amount of Rs 11,000.</li>
  <li>MIG, person can purchase a house with a total land of 66.5 Square Yards at the booking amount of Rs 31,000.</li>
  <li>HIG, person can purchase a house with a total land of 94.2 Square Meter at the booking amount of Rs 41,000.</li>
  <li>Super HIG, person can purchase a house with a total land of 122.1 Square Meter at the booking amount of Rs 51,000</li>
  </ul>
  </div>
  <div class="row "></div><!-- .row (end) --><div class="span9 "><br><br><img class="aligncenter size-full wp-image-3296" src="http://www.delhiaawasyojna.com/wp-content/uploads/2011/09/price-list-1-1-1-1.png" alt="" width="1022" height="285" srcset="http://www.delhiaawasyojna.com/wp-content/uploads/2011/09/price-list-1-1-1-1.png 1022w, http://www.delhiaawasyojna.com/wp-content/uploads/2011/09/price-list-1-1-1-1-300x84.png 300w, http://www.delhiaawasyojna.com/wp-content/uploads/2011/09/price-list-1-1-1-1-768x214.png 768w" sizes="(max-width: 1022px) 100vw, 1022px"><br></div><div class="span3 "><iframe style="width: 100%; border: none;" src="//www.formget.com/app/embed/form/k6vj-245987/i?w=328" width="300" height="400" frameborder="0" scrolling="no">Your Contact </iframe></div></div><!-- .row (end) -->Buyers can purchase a form at the cost of Rs 200. Further the scheme encourages women empowerment. A total of “33%<br>
  Reserved category for women”.<br>The society registration No. of Delhi Smart City Awas Yojana is <b>MSCS/CR/1049/2014.</b><p></p>

  		<div class="clear"></div>
  		<!--.pagination-->
  	</div><!--post-->
  					</div>
















<script type="text/javascript">
$(document).ready(function(){
      $('.slider').slider();
    });

</script>
