<br><br><br>

<div id="content" class="row">
					<div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
							<div id="post-2288" class="page post-2288 type-page status-publish hentry">
		<p style="text-align: justify;">The need to provide affordable housing in Rajkot is growing by the day. Master Plan Rajkot 2021 has picked up tremendous pace in the recent past. Out of 4 smart cities planned under MPD 2021, Dwarka Smart City is the biggest and the most lucrative one by far. First of all its location can be beaten by none. Closeness to Indira Gandhi International Airport of Rajkot, Gurgaon, Dwarka and South Rajkot makes it a great prospect for the people. Dwarka Smart City will enjoy the infrastructure made by the government under MPD. The new project launched under MPD 2021 is Smart City Rajkot Awas Yojna in this zone. This project will work as a catalyst for the campaign “Ab ek Ghar Dilli me” to make it true for everyone.</p>
<!-- <p style="text-align: justify;"><img class="aligncenter size-full wp-image-3145" src="http://www.Rajkotaawasyojna.com/wp-content/uploads/2016/07/L-Zone-Attraction.png" alt="L Zone Attraction" width="817" height="396" srcset="http://www.Rajkotaawasyojna.com/wp-content/uploads/2016/07/L-Zone-Attraction.png 817w, http://www.Rajkotaawasyojna.com/wp-content/uploads/2016/07/L-Zone-Attraction-300x145.png 300w, http://www.Rajkotaawasyojna.com/wp-content/uploads/2016/07/L-Zone-Attraction-768x372.png 768w" sizes="(max-width: 817px) 100vw, 817px"></p>
<p style="text-align: justify;"><img class="aligncenter wp-image-3147 size-full" src="http://www.Rajkotaawasyojna.com/wp-content/uploads/2016/07/location_map-960x1024-1.jpg" alt="l zone attraction" width="1798" height="692" srcset="http://www.Rajkotaawasyojna.com/wp-content/uploads/2016/07/location_map-960x1024-1.jpg 1798w, http://www.Rajkotaawasyojna.com/wp-content/uploads/2016/07/location_map-960x1024-1-300x115.jpg 300w, http://www.Rajkotaawasyojna.com/wp-content/uploads/2016/07/location_map-960x1024-1-768x296.jpg 768w, http://www.Rajkotaawasyojna.com/wp-content/uploads/2016/07/location_map-960x1024-1-1024x394.jpg 1024w" sizes="(max-width: 1798px) 100vw, 1798px"></p> -->
		<div class="clear"></div>
		<!--.pagination-->
	</div><!--post-->
					</div>
				</div>
