
<br><br><br>


<div id="content" class="row">
					<div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
							<div id="post-2284" class="page post-2284 type-page status-publish hentry">
		<div style="text-align: justify;">One of the primary needs of any human being is a home. A home is a security that allows every individual to flourish under sense of security, knowing that at the end of the day’s hard work, there is a place where she or he can relax his or her mind body and prep up for the struggle that waits for him or her the very next day. A home is here new dreams are born and are natured, thus making it one of the most basic needs for survival. From dens to huts to today’s multistoried building all is screaming testimony of what really a house means. Rajkot Municipal Corporation took a major step towards ensuring that people get house within their financial capability. <strong><a href="http://www.rmc.gov.in/rmcwebsite/default.aspx">Rajkot Awas Yojna</a></strong> is inspired by Prime Minister Modi scheme known as Pradhan Mantri Awas Yojana. The Awas Yojna comes with a bold vision of providing affordable housing solutions for Rajkot citizens. Eventually, Gujrat government also leaked revenues. &nbsp;Moreover, the Awas Yojna Scheme encourages women.
		</div>
<div></div>
<!-- <p><img class="aligncenter wp-image-3376 size-full" src="http://www.Rajkotaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-2-2.png" alt="" width="1302" height="1812" srcset="http://www.Rajkotaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-2-2.png 1302w, http://www.Rajkotaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-2-2-216x300.png 216w, http://www.Rajkotaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-2-2-768x1069.png 768w, http://www.Rajkotaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-2-2-736x1024.png 736w" sizes="(max-width: 1302px) 100vw, 1302px"></p> -->
		<div class="clear"></div>
		<!--.pagination-->
	</div><!--post-->
					</div>
				</div>
