


<div id="content" class="row">
					<div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
							<div id="post-2290" class="page post-2290 type-page status-publish hentry">
		<div style="text-align: justify;">Delhi Awas Yojna's projects located in such a position that the clients will get the facilities of The Indira Gandhi International Airport in the nearest location along with the newly approved Delhi Metro, The best ever International School and colleges, Super speciality hospital and the Gurgaon IT Hub. As per Master Plan Delhi 2021(MPD 2021), Delhi is going to get 4 new world class smart cities, and the biggest amongst these is Dwarka Smart City. These 4 Delhi Smart Cites are set to put Delhi at global roadmap and has been approved by DDA and the ministry of urban development.</div>
<p>
</p><div class="row "><div class="span12 "></div>
<div class="row "></div><!-- .row (end) --><div class="span6 "><img src="http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-5.png" alt="" width="783" height="674" class="aligncenter size-full wp-image-3099" srcset="http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-5.png 783w, http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-5-300x258.png 300w, http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-5-768x661.png 768w" sizes="(max-width: 783px) 100vw, 783px"><br></div><div class="span6 "><img src="http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-1.jpg" alt="" width="783" height="674" class="aligncenter size-full wp-image-3096" srcset="http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-1.jpg 783w, http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-1-300x258.jpg 300w, http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-1-768x661.jpg 768w" sizes="(max-width: 783px) 100vw, 783px"><br></div></div><!-- .row (end) -->
<center><br>
<img src="http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-2-1.jpg" alt="" width="1800" height="950" class="aligncenter size-full wp-image-3109" srcset="http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-2-1.jpg 1800w, http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-2-1-300x158.jpg 300w, http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-2-1-768x405.jpg 768w, http://www.delhiaawasyojna.com/wp-content/uploads/2016/07/imgpsh_fullsize-2-1-1024x540.jpg 1024w" sizes="(max-width: 1800px) 100vw, 1800px"><br>
</center><br>
[/span12][/row]
		<div class="clear"></div>
		<!--.pagination-->
	</div><!--post-->
					</div>
				</div>
