
<br>
<br>


<div id="content" class="row">
					<div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
							<div id="post-2290" class="page post-2290 type-page status-publish hentry">
		<div style="text-align: justify;">Awas Yojana scheme
			 projects located in such a position that the clients will get the facilities of The Indira Gandhi International Airport in the nearest location along with the newly approved Rajkot Metro, The best ever International School and colleges, Super speciality hospital and the Gurgaon IT Hub. As per Master Plan Rajkot 2021(MPD 2021), Rajkot is going to get 4 new world class smart cities, and the biggest amongst these is Dwarka Smart City. These 4 Rajkot Smart Cites are set to put Rajkot at global roadmap and has been approved by DDA and the ministry of urban development.</div>
<p>
</p><div class="row "><div class="span12 "></div>

		<div class="clear"></div>
		<!--.pagination-->
	</div><!--post-->
					</div>
				</div>
