
<div class="span8 right right" id="content" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
							<div id="post-3337" class="page post-3337 type-page status-publish hentry">
		<p><img class="aligncenter size-full wp-image-3343" src="http://www.delhiaawasyojna.com/wp-content/uploads/2017/07/imgpsh_fullsize-1-1.jpg" alt="" width="1654" height="2339" srcset="http://www.delhiaawasyojna.com/wp-content/uploads/2017/07/imgpsh_fullsize-1-1.jpg 1654w, http://www.delhiaawasyojna.com/wp-content/uploads/2017/07/imgpsh_fullsize-1-1-212x300.jpg 212w, http://www.delhiaawasyojna.com/wp-content/uploads/2017/07/imgpsh_fullsize-1-1-768x1086.jpg 768w, http://www.delhiaawasyojna.com/wp-content/uploads/2017/07/imgpsh_fullsize-1-1-724x1024.jpg 724w" sizes="(max-width: 1654px) 100vw, 1654px"></p>
		<div class="clear"></div>
		<!--.pagination-->
	</div><!--post-->
					</div>
