<!DOCTYPE html>
<html>
  <head>
    <title>CodeCrushersRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>

  <div class="navbar-upper">
  <nav class="z-depth-0">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12">
          <a href="/" class="brand-logo" style="display:block;float:left;"><img class="logo" src="http://www.delhiaawasyojna.com/wp-content/uploads/2017/02/delhiaawasyojna-logo.png" ></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li><a class="waves-effect waves-light btn btn-small animated tada" href="/vlogin">login</a></li>
            <li><a class="waves-effect waves-light btn btn-small animated tada" href="/vregistration">Register</a></li>

            <li><a href="#sheet1"><i class="material-icons">more_vert</i></a></li>

          </ul>

        </div>
      </div>
    </div>
  </nav>
</div>



<div class="navbar-lower">
  <nav class="z-depth-0 nav-extended">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12">
          <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
          <a class="fadeInLogo brand-logo animated slideInUp">
            <!-- M -->
            <!-- <img src="https://materializecss.com/res/materialize.svg" alt="" style="margin-top:12px;" height="40px"/> -->
            <i class="large material-icons">important_devices</i>
          </a>
                          <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-203 current_page_item"><a href="/home/hometab">Home</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/ray">Rajkot Awas Yojna</a></li>
                <li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/smartcity">Smart City</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/location">Location</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/societyreg">Society Registration</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/download">Download</a></li>
                <li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/tnc">Terms &amp; Conditions</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/blog">Blogs</a></li>
                <li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/contact">Contacts</a></li>
                  <li  class="menu-item menu-item-type-post_type menu-item-object-page"><a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                      </ul>



                  </li>

                </ul>
        </div>

      </div>



      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">A really long item here</a></li>
        <li><a href="#!">two</a></li>
        <!-- <li class="divider"></li> -->
        <li><a href="#!">grade</i>three</a></li>
      </ul>


      <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal hide-on-med-and-down scale-transition scale-out pulse" href="#modal1">
          <i class="material-icons">call</i>
      </a>

    </div>
  </nav>
</div>
























<main>
<div class="container">
<div class="row">
<%= yield%>
</div>
</div>
</main>


    <footer class="page-footer indigo darken-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Company Bio</h5>
              <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
              <div id="fb-root"></div>
              <div class="fb-page "
              data-href="https://www.facebook.com/ipumart/"
              data-width="380"
              data-layout="standard"
              data-hide-cover="false"
              data-action="share"
              data-show-facepile="true">
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
           <a class="brown-text text-lighten-3" href="#">© 2017 IPUMART. All rights reserved.</a>
          </div>
        </div>
      </footer>












  </body>
</html>
